header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      height: 40px;
    }

    .nav_links {
      display: flex;
      align-items: center;
      gap: 42px;
      a {
        font-size: 16px;
        color: var(--main);
        &.active {
          color: var(--second);
        }
      }
    }

    .actions {
      gap: 16px;
      display: flex;
      align-items: center;
      .user_btn {
        background: var(--white);
        color: var(--main);
        border: 1px solid var(--input-stroke);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px;
        padding-inline-end: 12px;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        img {
          height: 28px;
        }
        &:hover,
        &.show {
          color: var(--main);
          background: var(--white);
          border-color: var(--input-stroke);
        }
      }

      .rounded_btn {
        width: 40px;
        height: 40px;
        display: flex;
        background: var(--btn-bg);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--main);
        border: 0;
        &.show {
          background: var(--btn-bg);
        }
      }
    }
  }
}
