@import "./config";
@import "./header";
@import "./footer";
@import "./cards";
@import "./form_ui";
@import "./not_found";

body {
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  background-color: var(--white);
  main {
    min-height: calc(100vh - 100px);
  }

  @import "./home";
  @import "./auth";
  @import "./hosting";
  @import "./properties";
  @import "./property_details";

  &.en {
    direction: ltr;
    font-family: "Outfit", sans-serif;
    .form_field {
      input,
      select,
      textarea {
        direction: ltr;
      }
    }
    .auth_modal .modal_close_btn {
      left: initial;
      right: 16px;
    }
  }
}
