@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

:root {
  --main: #0d0d0f;
  --second: #e0a700;
  --border: #dddddd;
  --input-bg: #f8f8f8;
  --input-hint: #aaaaaa;
  --btn-bg: #f7f7f7;
  --close-hover: #f2f2f2;
  --gray: #777777;
  --gray-light: #777777cc;
  --dropdown-bg: #fff;
  --light-gray: #eeeeee;
  --star-color: #ffd500;
  --white: #fff;
  --input-stroke: #f2f2f2;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #0000001a;
}

[data-theme=dark] {
  --main: #ffffff;
  --second: #ffc107;
  --border: #333333;
  --input-bg: #2d2d2d;
  --input-hint: #666666;
  --dropdown-bg: #222222;
  --btn-bg: #222222;
  --close-hover: #0d0d0f;
  --gray: #999999;
  --gray-light: #999999cc;
  --light-gray: #222222;
  --star-color: #ffd500;
  --white: #1a1a1a;
  --input-stroke: #333333;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #00000040;
}
[data-theme=dark] .to_white {
  filter: brightness(0);
}
[data-theme=dark] .to_dark {
  filter: brightness(0) invert(1);
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
button {
  text-decoration: none;
  transition: var(--transition);
  color: #000;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.rc-slider-mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin: 0;
}
.rc-slider-mark span {
  font-size: 14px;
  transform: none !important;
  position: relative;
  text-wrap: nowrap;
  color: var(--main);
  right: unset !important;
  left: unset !important;
}

.rc-slider {
  margin: 12px 8px 32px;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: var(--bs-border-color);
}
.form-check-input:checked {
  background-position: right center;
  background-image: url("/icons/check-checked-icon.svg");
  border-color: var(--main);
}

.form-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0;
  gap: 32px;
}
.form-switch label {
  margin: 0;
}
.form-switch input {
  margin-left: 0 !important;
  float: unset !important;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px !important;
  background: var(--dropdown-bg);
  border-radius: 8px;
  padding: 8px;
}
.dropdown-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--input-stroke);
  margin: 8px 0;
}
.dropdown-menu a {
  text-align: start;
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 14px;
  color: var(--main);
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  gap: 8px;
}
.dropdown-menu a:active {
  background: var(--white);
}

.row {
  margin: 0;
}

.container {
  padding: 0;
  max-width: unset;
  width: min(100% - 24px, 1400px);
}

.dropdown-toggle::after {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.modal-header .btn-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: var(--main);
}
.modal-header .btn-close:hover {
  background: var(--close-hover) !important;
}
.modal-header h6 {
  color: var(--main);
  margin-bottom: 0;
}

.modal-content {
  background: var(--white);
  border-radius: 24px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1140px);
  margin: 20px auto;
  justify-content: center;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.css-t3ipsp-control {
  border-color: var(--light-gray) !important;
  box-shadow: none !important;
}
.css-t3ipsp-control:hover {
  background-color: var(--white) !important;
}

.css-13cymwt-control {
  border-color: var(--light-gray) !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.data-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data-loader .loader--style8 {
  width: 80px;
  height: 80px;
}
.data-loader svg path,
.data-loader svg rect {
  fill: var(--main);
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}
.back-to-top.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.back-to-top::before {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\f062";
  text-align: center;
  line-height: 45px;
  opacity: 1;
  height: 45px;
  width: 45px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main);
}
.back-to-top svg.progress-circle path {
  stroke: var(--main);
  stroke-width: 4;
}

.noComments {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-hint);
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.empty-section h2 {
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 36px;
  font-weight: 800;
  color: #cecece;
  line-height: 1.6;
}

.error-section {
  padding: 60px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.error-section img {
  height: 300px;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  .error-section img {
    height: 230px;
  }
}
.error-section h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: var(--main);
  line-height: 1.7;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .error-section h2 {
    font-size: 20px;
  }
}
.error-section a {
  color: var(--main);
  border: 1px solid var(--main);
  position: relative;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  transition: var(--transition);
  border-radius: 12px;
  gap: 8px;
  background: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  transition: var(--transition);
}
.error-section a i {
  font-size: 16px;
}
.error-section a:hover {
  color: var(--white);
  border-color: var(--main);
  background-color: var(--main);
}

.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid var(--input-stroke);
  background: var(--input-bg);
  height: 52px;
  border-radius: 12px;
}
.react-tel-input .form-control {
  width: 100%;
  height: 100%;
  color: var(--main);
  font-size: 14px;
  background: var(--input-bg);
  padding: 8px;
  border-radius: 12px;
  border: 0;
}
.react-tel-input .flag-dropdown {
  background: transparent;
  border: none;
  position: static;
  border-radius: 12px 0 0 12px;
  min-width: 52px;
}
.react-tel-input .flag-dropdown.open {
  background: var(--input-bg);
  border-radius: 12px;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px;
  background: var(--input-bg);
}
.react-tel-input .selected-flag {
  background: transparent;
  padding: 0;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-tel-input .selected-flag .arrow {
  border-top-color: var(--main);
}
.react-tel-input .selected-flag .arrow.up {
  border-bottom-color: var(--main);
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  background: var(--input-bg);
}
.react-tel-input .country-list {
  width: 100%;
  left: 0;
  background: var(--dropdown-bg);
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  box-shadow: var(--shadow);
  margin-top: 4px;
  scrollbar-width: none;
}
.react-tel-input .country-list .search {
  padding: 8px;
  background: var(--white);
}
.react-tel-input .country-list .search input {
  margin: 0;
  border: 1px solid var(--input-stroke);
  height: 42px;
  border-radius: 8px;
}
.react-tel-input .country-list .search span {
  display: none;
}
.react-tel-input .country-list .country {
  color: var(--main);
  padding: 8px 10px;
}
.react-tel-input .country-list .country:hover {
  background: var(--input-bg);
}
.react-tel-input .country-list .country.highlight {
  background: var(--input-bg);
}
.react-tel-input .country-list .dial-code {
  color: var(--gray);
}

header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  flex: 1;
}
header nav .logo img {
  height: 40px;
}
header nav .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  gap: 42px;
}
header nav .nav_links a {
  font-size: 16px;
  color: var(--main);
}
header nav .nav_links a.active {
  color: var(--second);
}
header nav .actions {
  gap: 16px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header nav .actions .user_btn {
  background: var(--white);
  color: var(--main);
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  padding-inline-end: 12px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
}
header nav .actions .user_btn img {
  height: 28px;
}
header nav .actions .user_btn:hover, header nav .actions .user_btn.show {
  color: var(--main);
  background: var(--white);
  border-color: var(--input-stroke);
}
header nav .actions .rounded_btn {
  width: 40px;
  height: 40px;
  display: flex;
  background: var(--btn-bg);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--main);
  border: 0;
}
header nav .actions .rounded_btn.show {
  background: var(--btn-bg);
}

footer .footer_header {
  width: 100%;
  padding: 24px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer_header .logo img {
  height: 50px;
}
footer .footer_header .follow {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer_header .follow h3 {
  margin: 0;
  font-size: 16px;
  color: var(--main);
}
footer .footer_header .follow .social_media {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .footer_header .follow .social_media a {
  color: var(--main);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  background: var(--close-hover);
  transition: var(--transition);
}
footer .footer_header .follow .social_media a:hover {
  color: var(--white);
  background: var(--main);
}
footer .col {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
footer .col h5 {
  font-size: 16px;
  color: var(--main);
}
footer .col p {
  margin: 0;
  font-size: 14px;
  color: var(--gray);
}
footer .col .links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .col .links a {
  color: var(--gray);
  font-size: 14px;
  transition: var(--transition);
}
footer .col .links a:hover {
  color: var(--main);
}
footer .col form {
  width: 100%;
  border-radius: 8px;
  background: var(--input-bg);
  display: flex;
  padding: 12px 24px;
  align-items: center;
}
footer .col form input {
  width: 100%;
  color: var(--main);
}
footer .col form button {
  color: var(--main);
  transition: var(--transition);
}
footer .col form button:hover {
  color: var(--second);
}
footer .copy_rights {
  padding: 28px 0 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--input-stroke);
}
footer .copy_rights p {
  color: var(--main);
  font-size: 14px;
  margin: 0;
}
footer .copy_rights p a {
  color: var(--main);
  transition: var(--transition);
}
footer .copy_rights p a:hover {
  color: var(--second);
}
footer .copy_rights .links {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .copy_rights .links a {
  color: var(--main);
  font-size: 14px;
  transition: var(--transition);
}
footer .copy_rights .links a:hover {
  color: var(--second);
}

.unit_card {
  background: var(--white);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unit_card .images {
  width: 100%;
  aspect-ratio: 3/2;
}
.unit_card .images .images_slider {
  width: 100%;
  height: 100%;
}
.unit_card .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.unit_card .images .swiper-button-prev,
.unit_card .images .swiper-button-next {
  width: 24px;
  height: 24px;
  top: 50%;
  margin: 0;
  background: #fff;
  border-radius: 50%;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-50%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.unit_card .images .swiper-button-prev::after,
.unit_card .images .swiper-button-next::after {
  font-size: 16px;
  font-family: "Font Awesome 6 Pro";
  content: "\f105";
  color: #000;
}
.unit_card .images .swiper-button-prev.swiper-button-disabled,
.unit_card .images .swiper-button-next.swiper-button-disabled {
  display: none;
}
.unit_card .images .swiper-button-prev::after {
  content: "\f104";
}
.unit_card .images .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--transition);
}
.unit_card .images .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: transparent;
  background: #fff;
  opacity: 0.7;
}
.unit_card .images .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.unit_card .content {
  padding: 16px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.unit_card .content .head_rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unit_card .content .head_rate h5 {
  color: var(--main);
  margin: 0;
  font-size: 16px;
}
.unit_card .content .head_rate button {
  gap: 8px;
  display: flex;
  font-size: 14px;
  color: var(--main);
  align-items: center;
}
.unit_card .content .features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.unit_card .content .features .feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--input-bg);
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--main);
  font-size: 14px;
}
.unit_card .content p {
  margin: 0;
  color: var(--gray);
}
.unit_card .content .price {
  color: var(--main);
  margin: 0;
}
.unit_card .content .price b {
  font-size: 20px;
}
.unit_card .content .price span {
  font-size: 14px;
  color: var(--gray);
}
.unit_card:hover .images .swiper-button-prev,
.unit_card:hover .images .swiper-button-next {
  opacity: 1;
}
.unit_card:hover .images .swiper-pagination {
  opacity: 1;
}

.form_field {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 8px;
  flex-wrap: wrap !important;
}
.form_field label {
  color: var(--main);
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
.form_field label svg,
.form_field label i {
  stroke: var(--main);
  width: 16px;
  height: 16px;
}
.form_field label img {
  height: 24px;
}
.form_field label span {
  font-size: 12px;
  color: var(--input-hint);
  width: 100%;
}
.form_field input,
.form_field textarea,
.form_field select {
  color: var(--main);
  direction: rtl;
  height: 52px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px;
  background: var(--input-bg);
  border: 1px solid var(--input-stroke);
  font-size: 14px;
  box-shadow: none !important;
}
.form_field input::-moz-placeholder, .form_field textarea::-moz-placeholder, .form_field select::-moz-placeholder {
  font-size: 14px;
  color: var(--input-hint);
}
.form_field input::placeholder,
.form_field textarea::placeholder,
.form_field select::placeholder {
  font-size: 14px;
  color: var(--input-hint);
}
.form_field input:focus,
.form_field textarea:focus,
.form_field select:focus {
  color: var(--main);
  background: var(--input-bg);
  border-color: var(--input-stroke);
}
.form_field textarea {
  height: 140px;
  padding: 16px 12px;
}
.form_field .input-span {
  position: absolute;
  color: var(--main);
  left: 12px;
  top: 46px;
}
.form_field .phone-group .PhoneInput {
  display: flex;
  gap: 12px;
}
.form_field .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
.form_field .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -33px;
  left: 10px;
}
.form_field .phone-group .PhoneInput select {
  padding: 12px 6px 12px 36px;
}
.form_field .phone-group .phone-code {
  height: 52px;
  border-radius: 4px;
}

.form_submit {
  padding: 0 42px;
  height: 52px;
  border-radius: 12px;
  background: var(--main);
  color: var(--white);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.page_not_found .error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page_not_found .error_container h1 {
  font-size: 100px;
  font-weight: 700;
  color: var(--main);
}
.page_not_found .error_container p {
  font-size: 16px;
  color: var(--main);
  font-weight: 500;
}
.page_not_found .error_container a {
  font-size: 16px;
  color: var(--main);
  border: 1px solid var(--main);
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 500;
}

body {
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  background-color: var(--white);
}
body main {
  min-height: calc(100vh - 100px);
}
body .hero_section {
  padding: 100px 0;
  background: url("images/hero.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
body .hero_section h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
body .hero_section p {
  width: min(100%, 500px);
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}
body .hero_section .search_box {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: var(--white);
}
body .hero_section .search_box .search_form {
  display: flex;
  gap: 12px;
}
body .hero_section .search_box .search_form .filter_btn {
  height: 52px;
  min-width: 52px;
  border-radius: 12px;
  border: 1px solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .filter_modal {
  padding: 0;
}
body .filter_modal .row {
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
}
body .filter_modal .row::-webkit-scrollbar {
  display: none;
}
body .filter_modal .filter_field {
  gap: 12px;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  border-bottom: 1px solid var(--input-stroke);
}
body .filter_modal .filter_field:last-child {
  border-bottom: none;
}
body .filter_modal .filter_field .head {
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_field .head h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--main);
}
body .filter_modal .filter_field .head button {
  font-size: 14px;
  text-decoration: underline;
  color: var(--main);
  padding: 0 4px;
  font-weight: 600;
}
body .filter_modal .filter_field .body {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
body .filter_modal .filter_field .body .checkbox_field div {
  padding: 8px 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: var(--transition);
  border-radius: 8px;
  color: var(--main);
  border: 1px solid var(--input-stroke);
}
body .filter_modal .filter_field .body .checkbox_field input {
  display: none;
}
body .filter_modal .filter_field .body .checkbox_field input:checked + div {
  background: var(--main);
  color: var(--white);
}
body .filter_modal .filter_field .body .counter_field {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_field .body .counter_field h6 {
  font-size: 14px;
  color: var(--main);
}
body .filter_modal .filter_field .body .counter_field .counter_input {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .filter_modal .filter_field .body .counter_field .counter_input button {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main);
  background: var(--close-hover);
}
body .filter_modal .filter_field .body .counter_field .counter_input span {
  font-size: 14px;
  color: var(--main);
}
body .filter_modal .filter_footer {
  padding: 1rem;
  border-top: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_footer .clearAll {
  color: var(--main);
}
body .filter_modal .filter_footer .submit_btn {
  background: var(--second);
  color: #fff;
  padding: 0 32px;
  height: 52px;
  border-radius: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body .destinations {
  padding: 60px 0;
}
body .destinations .destinations_swiper .swiper-slide {
  width: 100%;
  aspect-ratio: 1/1;
}
body .destinations .destinations_swiper .swiper-slide .img {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
body .destinations .destinations_swiper .swiper-slide .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .destinations .destinations_swiper .swiper-slide .img .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.5%, #000000 87.5%);
}
body .destinations .destinations_swiper .swiper-slide .img .title h3 {
  font-size: 16px;
  color: #fff;
}
body .destinations .destinations_swiper .swiper-slide .img .title p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
body .sec_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
body .sec_header .section_title h2 {
  font-size: 24px;
  color: var(--main);
}
body .sec_header .section_title p {
  font-size: 14px;
  margin: 0;
  color: var(--gray);
}
body .sec_header a {
  font-size: 14px;
  color: var(--main);
  text-decoration: underline;
}
body .featured_properties {
  background: var(--btn-bg);
  padding: 60px 0;
}
body .why_us {
  display: flex;
}
body .why_us .img {
  flex: 1;
  aspect-ratio: 3/2;
  background: var(--btn-bg);
}
body .why_us .img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .why_us .content {
  flex: 1;
  gap: 8px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .why_us .content h3 {
  font-size: 24px;
  color: var(--main);
}
body .why_us .content p {
  color: var(--gray);
}
body .why_us .content .features {
  gap: 16px;
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(2, 1fr);
}
body .why_us .content .feature_card {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--btn-bg);
}
body .why_us .content .feature_card img {
  height: 36px;
}
body .why_us .content .feature_card h4 {
  font-size: 16px;
  color: var(--main);
}
body .why_us .content .feature_card p {
  font-size: 14px;
  margin: 0;
}
body .download_app {
  padding: 60px 0;
  background: var(--btn-bg);
}
body .auth_modal {
  display: flex;
  padding: 0;
  position: relative;
}
body .auth_modal .auth_img {
  flex: 1;
  position: relative;
}
body .auth_modal .auth_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .auth_modal .auth_img .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
body .auth_modal .auth_form {
  flex: 1;
  display: flex;
  padding: 64px 32px 32px;
  gap: 24px;
  justify-content: space-between;
  flex-direction: column;
}
body .auth_modal .auth_form h5 {
  text-align: start;
  color: var(--main);
  font-size: 22px;
}
body .auth_modal .auth_form p {
  color: var(--gray);
}
body .auth_modal .auth_form button {
  width: 100%;
  padding: 12px 32px;
  height: 52px;
  background: var(--main);
  color: var(--white);
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 14px;
  display: flex;
  align-items: center;
}
body .auth_modal .auth_form button span {
  width: 100%;
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .auth_modal .auth_form button.stroked {
  border-color: var(--input-stroke);
  background: none;
}
body .auth_modal .auth_form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .auth_modal .auth_form .social_login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .auth_modal .auth_form .social_login .line {
  width: 100%;
  height: 1px;
  background: var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
body .auth_modal .auth_form .social_login .line span {
  margin-top: -6px;
  padding: 0 16px;
  color: var(--main);
  background: var(--white);
}
body .auth_modal .auth_form .social_login .agreeToPrivacy {
  color: var(--gray);
  line-height: 1.8;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 0;
}
body .auth_modal .auth_form .social_login .agreeToPrivacy a {
  color: var(--main);
}
body .auth_modal .modal_close_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}
body .auth_modal .modal_close_btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: var(--main);
}
body .auth_modal .modal_close_btn:hover {
  background: var(--close-hover) !important;
}
body.en {
  direction: ltr;
  font-family: "Outfit", sans-serif;
}
body.en .form_field input,
body.en .form_field select,
body.en .form_field textarea {
  direction: ltr;
}/*# sourceMappingURL=main.css.map */