@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

:root {
  --main: #0d0d0f;
  --second: #e0a700;
  --border: #dddddd;
  --input-bg: #f8f8f8;
  --input-hint: #aaaaaa;
  --btn-bg: #f7f7f7;
  --close-hover: #f2f2f2;
  --gray: #777777;
  --gray-light: #777777cc;
  --dropdown-bg: #fff;
  --light-gray: #eeeeee;
  --star-color: #ffd500;
  --white: #fff;
  --input-stroke: #f2f2f2;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #0000001a;
}

[data-theme=dark] {
  --main: #ffffff;
  --second: #ffc107;
  --border: #333333;
  --input-bg: #2d2d2d;
  --input-hint: #666666;
  --dropdown-bg: #222222;
  --btn-bg: #222222;
  --close-hover: #0d0d0f;
  --gray: #999999;
  --gray-light: #999999cc;
  --light-gray: #222222;
  --star-color: #ffd500;
  --white: #1a1a1a;
  --input-stroke: #333333;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #00000040;
}
[data-theme=dark] .to_white {
  filter: brightness(0);
}
[data-theme=dark] .to_dark {
  filter: brightness(0) invert(1);
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: var(--transition);
  color: #000;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.rc-slider-mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin: 0;
}
.rc-slider-mark span {
  font-size: 14px;
  transform: none !important;
  position: relative;
  text-wrap: nowrap;
  color: var(--main);
  right: unset !important;
  left: unset !important;
}

.rc-slider {
  margin: 12px 8px 32px;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: var(--bs-border-color);
}
.form-check-input:checked {
  background-position: right center;
  background-image: url("/icons/check-checked-icon.svg");
  border-color: var(--main);
}

.form-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0;
  gap: 32px;
}
.form-switch label {
  margin: 0;
}
.form-switch input {
  margin-left: 0 !important;
  float: unset !important;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px !important;
  background: var(--dropdown-bg);
  border-radius: 8px;
  padding: 8px;
}
.dropdown-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--input-stroke);
  margin: 8px 0;
}
.dropdown-menu a {
  text-align: start;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--main);
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  gap: 8px;
}
.dropdown-menu a:active {
  background: var(--white);
}
.dropdown-menu a i {
  width: 18px;
}

.row {
  margin: 0;
}

.container {
  padding: 0;
  max-width: unset;
  width: min(100% - 24px, 1400px);
}

.dropdown-toggle::after {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.modal-header .btn-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: var(--main);
}
.modal-header .btn-close:hover {
  background: var(--close-hover) !important;
}
.modal-header h6 {
  color: var(--main);
  margin-bottom: 0;
}

.modal-content {
  background: var(--white);
  border-radius: 24px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1140px);
  margin: 20px auto;
  justify-content: center;
}

.css-t3ipsp-control {
  border-color: var(--light-gray) !important;
  box-shadow: none !important;
}
.css-t3ipsp-control:hover {
  background-color: var(--white) !important;
}

.css-13cymwt-control {
  border-color: var(--light-gray) !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.data-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data-loader .loader--style8 {
  width: 80px;
  height: 80px;
}
.data-loader svg path,
.data-loader svg rect {
  fill: var(--main);
}

.map_loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--close-hover);
}
.map_loader i {
  font-size: 32px;
  color: var(--main);
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}
.back-to-top.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.back-to-top::before {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\f062";
  text-align: center;
  line-height: 45px;
  opacity: 1;
  height: 45px;
  width: 45px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main);
}
.back-to-top svg.progress-circle path {
  stroke: var(--main);
  stroke-width: 4;
}

.noComments {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-hint);
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.empty-section h2 {
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 36px;
  font-weight: 800;
  color: #cecece;
  line-height: 1.6;
}

.error-section {
  padding: 60px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.error-section img {
  height: 300px;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  .error-section img {
    height: 230px;
  }
}
.error-section h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: var(--main);
  line-height: 1.7;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .error-section h2 {
    font-size: 20px;
  }
}
.error-section a {
  color: var(--main);
  border: 1px solid var(--main);
  position: relative;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  transition: var(--transition);
  border-radius: 12px;
  gap: 8px;
  background: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  transition: var(--transition);
}
.error-section a i {
  font-size: 16px;
}
.error-section a:hover {
  color: var(--white);
  border-color: var(--main);
  background-color: var(--main);
}

.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid var(--input-stroke);
  background: var(--input-bg);
  height: 52px;
  border-radius: 12px;
  direction: ltr;
}
.react-tel-input .form-control {
  width: 100%;
  height: 100%;
  color: var(--main);
  font-size: 14px;
  background: var(--input-bg);
  padding: 8px;
  border-radius: 12px;
  direction: ltr;
  border: 0;
}
.react-tel-input .flag-dropdown {
  background: transparent;
  border: none;
  position: static;
  border-radius: 12px 0 0 12px;
  min-width: 52px;
}
.react-tel-input .flag-dropdown.open {
  background: var(--input-bg);
  border-radius: 12px;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px;
  background: var(--input-bg);
}
.react-tel-input .selected-flag {
  background: transparent;
  padding: 0;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-tel-input .selected-flag .arrow {
  border-top-color: var(--main);
}
.react-tel-input .selected-flag .arrow.up {
  border-bottom-color: var(--main);
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  background: var(--input-bg);
}
.react-tel-input .country-list {
  width: 100%;
  left: 0;
  background: var(--dropdown-bg);
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  box-shadow: var(--shadow);
  margin-top: 4px;
  scrollbar-width: none;
}
.react-tel-input .country-list .search {
  padding: 8px;
  background: var(--white);
}
.react-tel-input .country-list .search input {
  margin: 0;
  border: 1px solid var(--input-stroke);
  height: 42px;
  border-radius: 8px;
  direction: ltr !important;
}
.react-tel-input .country-list .search span {
  display: none;
}
.react-tel-input .country-list .country {
  color: var(--main);
  padding: 8px 10px;
}
.react-tel-input .country-list .country:hover {
  background: var(--input-bg);
}
.react-tel-input .country-list .country.highlight {
  background: var(--input-bg);
}
.react-tel-input .country-list .dial-code {
  color: var(--gray);
}

input[type=email] {
  direction: ltr !important;
}

.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
}
.stars_rate .stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.stars_rate .stars span {
  color: var(--gray);
  font-size: 16px;
  margin: 0;
}
.stars_rate .stars img {
  height: 14px;
}

.calender_modal p {
  color: var(--gray);
  font-size: 16px;
}

.calender_modal .rmdp-calendar {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 8px;
  background: var(--white);
}

.rmdp-wrapper {
  background: var(--white) !important;
}

.rmdp-day {
  width: 52px !important;
  height: 52px !important;
  font-size: 16px !important;
  color: var(--main) !important;
  transition: var(--transition);
}
.rmdp-day span:hover {
  background-color: var(--close-hover) !important;
  color: var(--main) !important;
}
.rmdp-day.rmdp-today span {
  background-color: var(--close-hover) !important;
  color: var(--main) !important;
}
.rmdp-day.rmdp-disabled {
  color: var(--gray) !important;
  cursor: not-allowed !important;
}
.rmdp-day.rmdp-disabled span {
  text-decoration: line-through !important;
  cursor: not-allowed !important;
}
.rmdp-day.rmdp-disabled span:hover {
  background-color: transparent !important;
  color: var(--gray) !important;
}

.rmdp-arrow-container {
  width: 24px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rmdp-arrow-container i {
  display: none;
}
.rmdp-arrow-container::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f104";
  font-size: 14px;
  color: var(--main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rmdp-arrow-container.rmdp-right::before {
  content: "\f105";
}
.rmdp-arrow-container:hover {
  background: var(--close-hover) !important;
  box-shadow: none !important;
}
.rmdp-arrow-container.disabled {
  cursor: not-allowed !important;
}
.rmdp-arrow-container.disabled::before {
  color: var(--gray) !important;
}
.rmdp-arrow-container.disabled:hover {
  background: transparent !important;
  box-shadow: none !important;
}

.rmdp-range {
  background: var(--main) !important;
  box-shadow: none !important;
  color: var(--white) !important;
}
.rmdp-range.rmdp-today span {
  background: var(--main) !important;
  color: var(--white) !important;
}

.rmdp-week:first-child {
  margin-bottom: 16px;
}
.rmdp-week:first-child .rmdp-week-day {
  color: var(--main) !important;
}

.rmdp-header-values {
  color: var(--main) !important;
}

.rmdp-shadow {
  box-shadow: none !important;
}

.calender_wrapper {
  min-height: 384px;
}

.rmdp-week-day {
  width: 52px !important;
}

header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  flex: 1;
}
header nav .logo img {
  height: 40px;
}
header nav .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  gap: 42px;
}
header nav .nav_links a {
  font-size: 16px;
  color: var(--main);
}
header nav .nav_links a.active {
  color: var(--second);
}
header nav .actions {
  gap: 16px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header nav .actions .user_btn {
  background: var(--white);
  color: var(--main);
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  padding-inline-end: 12px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
}
header nav .actions .user_btn img {
  height: 28px;
}
header nav .actions .user_btn:hover, header nav .actions .user_btn.show {
  color: var(--main);
  background: var(--white);
  border-color: var(--input-stroke);
}
header nav .actions .rounded_btn {
  width: 40px;
  height: 40px;
  display: flex;
  background: var(--btn-bg);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--main);
  border: 0;
}
header nav .actions .rounded_btn:active {
  background: var(--btn-bg);
  color: var(--main);
}
header nav .actions .rounded_btn.show {
  background: var(--btn-bg);
}

footer {
  border-top: 1px solid var(--input-stroke);
}
footer .footer_header {
  width: 100%;
  padding: 24px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer_header .logo img {
  height: 50px;
}
footer .footer_header .follow {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer_header .follow h3 {
  margin: 0;
  font-size: 16px;
  color: var(--main);
}
footer .footer_header .follow .social_media {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .footer_header .follow .social_media a {
  color: var(--main);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  background: var(--close-hover);
  transition: var(--transition);
}
footer .footer_header .follow .social_media a:hover {
  color: var(--white);
  background: var(--main);
}
footer .col {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
footer .col h5 {
  font-size: 16px;
  color: var(--main);
}
footer .col p {
  margin: 0;
  font-size: 14px;
  color: var(--gray);
}
footer .col .links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .col .links a {
  color: var(--gray);
  font-size: 14px;
  transition: var(--transition);
}
footer .col .links a:hover {
  color: var(--main);
}
footer .col form {
  width: 100%;
  border-radius: 8px;
  background: var(--input-bg);
  display: flex;
  padding: 12px 24px;
  align-items: center;
}
footer .col form input {
  width: 100%;
  color: var(--main);
}
footer .col form button {
  color: var(--main);
  transition: var(--transition);
}
footer .col form button:hover {
  color: var(--second);
}
footer .copy_rights {
  padding: 28px 0 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--input-stroke);
}
footer .copy_rights p {
  color: var(--main);
  font-size: 14px;
  margin: 0;
}
footer .copy_rights p a {
  color: var(--main);
  transition: var(--transition);
}
footer .copy_rights p a:hover {
  color: var(--second);
}
footer .copy_rights .links {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .copy_rights .links a {
  color: var(--main);
  font-size: 14px;
  transition: var(--transition);
}
footer .copy_rights .links a:hover {
  color: var(--second);
}

.unit_card {
  background: var(--white);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unit_card .images {
  width: 100%;
  aspect-ratio: 3/2;
}
.unit_card .images .images_slider {
  width: 100%;
  height: 100%;
}
.unit_card .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.unit_card .images .swiper-button-prev,
.unit_card .images .swiper-button-next {
  width: 24px;
  height: 24px;
  top: 50%;
  margin: 0;
  background: #fff;
  border-radius: 50%;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.unit_card .images .swiper-button-prev::after,
.unit_card .images .swiper-button-next::after {
  font-size: 16px;
  font-family: "Font Awesome 6 Pro";
  content: "\f105";
  color: #000;
}
.unit_card .images .swiper-button-prev.swiper-button-disabled,
.unit_card .images .swiper-button-next.swiper-button-disabled {
  display: none;
}
.unit_card .images .swiper-button-prev::after {
  content: "\f104";
}
.unit_card .images .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--transition);
}
.unit_card .images .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: transparent;
  background: #fff;
  opacity: 0.7;
}
.unit_card .images .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.unit_card .content {
  padding: 16px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.unit_card .content .head_rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unit_card .content .head_rate h5 {
  color: var(--main);
  margin: 0;
  font-size: 16px;
}
.unit_card .content .head_rate button {
  gap: 8px;
  display: flex;
  font-size: 14px;
  color: var(--main);
  align-items: center;
}
.unit_card .content .features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.unit_card .content .features .feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--input-bg);
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--main);
  font-size: 14px;
}
.unit_card .content p {
  margin: 0;
  color: var(--gray);
}
.unit_card .content .price {
  color: var(--main);
  margin: 0;
}
.unit_card .content .price b {
  font-size: 20px;
}
.unit_card .content .price span {
  font-size: 14px;
  color: var(--gray);
}
.unit_card:hover .images .swiper-button-prev,
.unit_card:hover .images .swiper-button-next {
  opacity: 1;
}
.unit_card:hover .images .swiper-pagination {
  opacity: 1;
}

.rate_card {
  width: 100%;
  gap: 16px;
  padding: 16px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  border: 1px solid var(--input-stroke);
}
.rate_card .user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.rate_card .user .icon img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rate_card .user .info h6 {
  color: var(--main);
  font-size: 16px;
}
.rate_card .user .info span {
  color: var(--gray);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.rate_card .comment p {
  margin: 0;
}

.uncompleted_property {
  background: var(--white);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
}
.uncompleted_property .img {
  flex: 1;
  aspect-ratio: 1/1;
}
.uncompleted_property .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.uncompleted_property .info {
  flex: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.uncompleted_property .info span {
  font-size: 12px;
  color: var(--gray);
}
.uncompleted_property .info span.verify {
  color: #ff0000;
}
.uncompleted_property .info h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--main);
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.uncompleted_property .info button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  background: var(--main);
  color: var(--white);
}

.form_field {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 8px;
  flex-wrap: wrap !important;
}
.form_field label {
  color: var(--main);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.form_field label svg,
.form_field label i {
  stroke: var(--main);
  width: 16px;
  height: 16px;
}
.form_field label img {
  height: 18px;
}
.form_field label span {
  font-size: 12px;
  color: var(--input-hint);
  width: 100%;
  margin-inline-start: 8px;
}
.form_field input,
.form_field textarea,
.form_field select {
  color: var(--main);
  direction: rtl;
  height: 52px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px;
  background: var(--input-bg);
  border: 1px solid var(--input-stroke);
  font-size: 14px;
  box-shadow: none !important;
}
.form_field input::-moz-placeholder, .form_field textarea::-moz-placeholder, .form_field select::-moz-placeholder {
  font-size: 14px;
  color: var(--input-hint);
}
.form_field input::placeholder,
.form_field textarea::placeholder,
.form_field select::placeholder {
  font-size: 14px;
  color: var(--input-hint);
}
.form_field input:focus,
.form_field textarea:focus,
.form_field select:focus {
  color: var(--main);
  background: var(--input-bg);
  border-color: var(--input-stroke);
}
.form_field textarea {
  height: 140px;
  padding: 16px 12px;
}
.form_field .input-span {
  position: absolute;
  color: var(--main);
  left: 12px;
  top: 46px;
}
.form_field .phone-group .PhoneInput {
  display: flex;
  gap: 12px;
}
.form_field .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
.form_field .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -33px;
  left: 10px;
}
.form_field .phone-group .PhoneInput select {
  padding: 12px 6px 12px 36px;
}
.form_field .phone-group .phone-code {
  height: 52px;
  border-radius: 4px;
}

.form_submit {
  padding: 0 42px;
  height: 52px;
  border-radius: 12px;
  background: var(--main);
  color: var(--white);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
}
@media (max-width: 576px) {
  .otp-container {
    gap: 8px;
  }
}
.otp-container .otp-input {
  border-radius: 0 !important;
  flex: 1;
  width: inherit;
  height: 80px !important;
  text-align: center;
  border-bottom: 1px solid var(--main);
  font-size: 28px !important;
  font-weight: 600;
  color: var(--main) !important;
  outline: none;
}
.otp-container .otp-input::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 576px) {
  .otp-container .otp-input {
    height: 60px !important;
  }
}

.resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}
.resend-code .resend_link {
  color: var(--main);
  cursor: pointer;
}
.resend-code .resend_link.disabled {
  pointer-events: none;
}
.resend-code .timer {
  gap: 2px;
  display: flex;
  color: var(--gray);
  margin-inline-start: auto;
}

.page_not_found .error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page_not_found .error_container h1 {
  font-size: 100px;
  font-weight: 700;
  color: var(--main);
}
.page_not_found .error_container p {
  font-size: 16px;
  color: var(--main);
  font-weight: 500;
}
.page_not_found .error_container a {
  font-size: 16px;
  color: var(--main);
  border: 1px solid var(--main);
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 500;
}

body {
  direction: rtl;
  font-family: "Rubik", serif;
  background-color: var(--white);
}
body main {
  min-height: calc(100vh - 100px);
}
body .hero_section {
  padding: 100px 0;
  background: url("/images/hero.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
body .hero_section h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
body .hero_section p {
  width: min(100%, 500px);
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}
body .hero_section .search_box {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: var(--white);
}
body .hero_section .search_box .search_form {
  display: flex;
  gap: 12px;
}
body .hero_section .search_box .search_form .filter_btn {
  height: 52px;
  min-width: 52px;
  border-radius: 12px;
  border: 1px solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .filter_modal {
  padding: 0;
}
body .filter_modal .row {
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
}
body .filter_modal .row::-webkit-scrollbar {
  display: none;
}
body .filter_modal .filter_field {
  gap: 12px;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  border-bottom: 1px solid var(--input-stroke);
}
body .filter_modal .filter_field:last-child {
  border-bottom: none;
}
body .filter_modal .filter_field .head {
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_field .head h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--main);
}
body .filter_modal .filter_field .head button {
  font-size: 14px;
  text-decoration: underline;
  color: var(--main);
  padding: 0 4px;
  font-weight: 600;
}
body .filter_modal .filter_field .body {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
body .filter_modal .filter_field .body .checkbox_field div {
  padding: 8px 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: var(--transition);
  border-radius: 8px;
  color: var(--main);
  border: 1px solid var(--input-stroke);
}
body .filter_modal .filter_field .body .checkbox_field input {
  display: none;
}
body .filter_modal .filter_field .body .checkbox_field input:checked + div {
  background: var(--main);
  color: var(--white);
}
body .filter_modal .filter_field .body .counter_field {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_field .body .counter_field h6 {
  font-size: 14px;
  color: var(--main);
}
body .filter_modal .filter_field .body .counter_field .counter_input {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .filter_modal .filter_field .body .counter_field .counter_input button {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main);
  background: var(--close-hover);
}
body .filter_modal .filter_field .body .counter_field .counter_input span {
  font-size: 14px;
  color: var(--main);
}
body .filter_modal .filter_footer {
  padding: 1rem;
  border-top: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .filter_modal .filter_footer .clearAll {
  color: var(--main);
}
body .filter_modal .filter_footer .submit_btn {
  background: var(--second);
  color: #fff;
  padding: 0 32px;
  height: 52px;
  border-radius: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body .destinations {
  padding: 60px 0;
}
body .destinations .destinations_swiper .swiper-slide {
  width: 100%;
  aspect-ratio: 1/1;
}
body .destinations .destinations_swiper .swiper-slide .img {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
body .destinations .destinations_swiper .swiper-slide .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .destinations .destinations_swiper .swiper-slide .img .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.5%, #000000 87.5%);
}
body .destinations .destinations_swiper .swiper-slide .img .title h3 {
  font-size: 16px;
  color: #fff;
}
body .destinations .destinations_swiper .swiper-slide .img .title p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
body .sec_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
body .sec_header .section_title h2 {
  font-size: 24px;
  color: var(--main);
}
body .sec_header .section_title p {
  font-size: 14px;
  margin: 0;
  color: var(--gray);
}
body .sec_header a {
  font-size: 14px;
  color: var(--main);
  text-decoration: underline;
}
body .featured_properties {
  background: var(--btn-bg);
  padding: 60px 0;
}
body .why_us {
  display: flex;
}
body .why_us .img {
  flex: 1;
  aspect-ratio: 3/2;
  background: var(--btn-bg);
}
body .why_us .img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .why_us .content {
  flex: 1;
  gap: 8px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .why_us .content h3 {
  font-size: 24px;
  color: var(--main);
}
body .why_us .content p {
  color: var(--gray);
}
body .why_us .content .features {
  gap: 16px;
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(2, 1fr);
}
body .why_us .content .feature_card {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--btn-bg);
}
body .why_us .content .feature_card img {
  height: 36px;
}
body .why_us .content .feature_card h4 {
  font-size: 16px;
  color: var(--main);
}
body .why_us .content .feature_card p {
  font-size: 14px;
  margin: 0;
}
body .download_app {
  padding: 60px 0;
  background: var(--btn-bg);
}
body .auth_modal {
  display: flex;
  padding: 0;
  position: relative;
}
body .auth_modal .auth_img {
  width: 50%;
  position: relative;
}
body .auth_modal .auth_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .auth_modal .auth_img .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
body .auth_modal .auth_form {
  width: 50%;
  display: flex;
  padding: 64px 32px 32px;
  gap: 24px;
  flex-direction: column;
}
body .auth_modal .auth_form.register {
  width: 100%;
}
body .auth_modal .auth_form h5 {
  text-align: start;
  color: var(--main);
  font-size: 22px;
}
body .auth_modal .auth_form p {
  color: var(--gray);
}
body .auth_modal .auth_form p b {
  color: var(--main);
  font-size: 14px;
  padding-inline-end: 16px;
}
body .auth_modal .auth_form p span {
  cursor: pointer;
  font-size: 14px;
  color: var(--main);
  text-decoration: underline;
}
body .auth_modal .auth_form .form_group {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .auth_modal .auth_form button {
  width: 100%;
  padding: 12px 32px;
  height: 52px;
  background: var(--main);
  color: var(--white);
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 14px;
  display: flex;
  align-items: center;
}
body .auth_modal .auth_form button span {
  width: 100%;
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .auth_modal .auth_form button img {
  height: 20px;
}
body .auth_modal .auth_form button.stroked {
  border-color: var(--input-stroke);
  background: none;
}
body .auth_modal .auth_form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .auth_modal .auth_form .social_login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .auth_modal .auth_form .social_login .line {
  width: 100%;
  height: 1px;
  background: var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
body .auth_modal .auth_form .social_login .line span {
  margin-top: -6px;
  padding: 0 16px;
  color: var(--main);
  background: var(--white);
}
body .auth_modal .auth_form .social_login .agreeToPrivacy {
  color: var(--gray);
  line-height: 1.8;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 0;
}
body .auth_modal .auth_form .social_login .agreeToPrivacy a {
  color: var(--main);
}
body .auth_modal .auth_form .swiper-slide {
  height: 100%;
}
body .auth_modal .auth_form .choose_img {
  display: flex;
  width: 100%;
  margin-bottom: 14px;
}
body .auth_modal .auth_form .choose_img .choose_img {
  width: 100%;
  cursor: pointer;
}
body .auth_modal .auth_form .choose_img .choose_img input {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body .auth_modal .auth_form .choose_img .choose_img input:checked + .img_wrap {
  border-color: var(--main);
}
body .auth_modal .auth_form .choose_img .choose_img input:checked + .img_wrap::before {
  opacity: 1;
}
body .auth_modal .auth_form .choose_img .choose_img .img_wrap {
  position: relative;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: var(--transition);
}
body .auth_modal .auth_form .choose_img .choose_img .img_wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .auth_modal .auth_form .choose_img .choose_img .img_wrap::before {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 6 Pro";
  content: "\f00c";
  opacity: 0;
  font-size: 12px;
  color: var(--white);
  background: var(--main);
  transition: var(--transition);
}
body .auth_modal .auth_form .choose_img .choose_img .upload_img {
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--input-stroke);
  border-radius: 12px;
}
body .auth_modal .auth_form .choose_img .choose_img .upload_img::before {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 6 Pro";
  content: "+";
  font-size: 12px;
  color: var(--main);
  background: var(--input-stroke);
  transition: var(--transition);
}
body .auth_modal .modal_close_btn {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}
body .auth_modal .modal_close_btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: var(--main);
}
body .auth_modal .modal_close_btn:hover {
  background: var(--close-hover) !important;
}
body .my_properties {
  padding: 40px 0;
  background: var(--btn-bg);
}
body .my_properties .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
body .my_properties .header h3 {
  color: var(--main);
  font-size: 20px;
  margin: 0;
}
body .my_properties .header .form {
  background: var(--close-hover);
  padding: 12px;
  border-radius: 12px;
}
body .my_properties .header .form i {
  color: var(--main);
}
body .my_properties .header .form input {
  font-size: 14px;
  width: 300px;
  color: var(--main);
}
body .add_property {
  height: calc(100vh - 73px);
  display: flex;
}
body .add_property .banner_holder {
  position: relative;
  width: 40%;
}
body .add_property .banner_holder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
body .add_property .banner_holder .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 62px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
body .add_property .banner_holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .add_property .form_holder {
  width: 60%;
  padding: 40px 60px;
}
body .add_property .form_holder .steps_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
body .add_property .form_holder .steps_header h3 {
  font-size: 20px;
  margin-bottom: 0;
  color: var(--main);
}
body .add_property .form_holder .steps_header .actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .add_property .form_holder .steps_header .actions p {
  margin: 0;
  color: var(--main);
}
body .add_property .form_holder .steps_header .actions p span {
  font-size: 20px;
  font-weight: 600;
}
body .add_property .form_holder .steps_header .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
body .add_property .form_holder .steps_header .title button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--input-stroke);
}
body .add_property .form_holder .steps_header .title button i {
  color: var(--main);
}
body .add_property .form_holder .steps {
  display: flex;
  gap: 8px;
  align-items: center;
}
body .add_property .form_holder .steps .step {
  flex: 1;
  height: 6px;
  border-radius: 30px;
  background: var(--btn-bg);
}
body .add_property .form_holder .steps .step.active {
  background: var(--main);
}
body .add_property .form_holder .wizard_wrapper {
  margin-top: 24px;
  background: var(--btn-bg);
  border-radius: 16px;
  padding: 16px 8px;
  height: calc(100% - 86px);
  overflow-y: scroll;
  scrollbar-width: none;
}
body .add_property .form_holder .wizard_wrapper button {
  width: 100%;
}
body .add_property .form_holder .wizard_wrapper::-webkit-scrollbar {
  display: none;
}
body .add_property .form_holder .wizard_wrapper input,
body .add_property .form_holder .wizard_wrapper textarea,
body .add_property .form_holder .wizard_wrapper select {
  background: var(--white);
}
body .add_property .form_holder .wizard_wrapper .other_info_title {
  font-size: 14px;
  color: var(--main);
}
body .add_property .form_holder .wizard_wrapper .other_info_title span {
  color: var(--gray);
  font-size: 12px;
}
body .add_property .form_holder .wizard_wrapper .other_info {
  padding: 8px;
  border-radius: 12px;
  background: var(--white);
}
body .add_property .form_holder .wizard_wrapper .other_info input,
body .add_property .form_holder .wizard_wrapper .other_info textarea,
body .add_property .form_holder .wizard_wrapper .other_info select {
  background: var(--input-bg);
}
body .properties {
  padding: 40px 0;
  background: var(--btn-bg);
  position: relative;
}
body .view_map {
  left: 50%;
  bottom: 32px;
  position: fixed;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  padding-inline-end: 18px;
  border-radius: 90px;
  background: var(--main);
  color: var(--white);
  font-size: 16px;
  z-index: 999;
}
body .view_map .icon {
  background: var(--white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .view_map .icon img {
  height: 16px;
}
body .top_filter {
  padding: 24px 0;
}
body .top_filter .filter {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .top_filter .filter .date_btn {
  color: var(--main);
  direction: rtl;
  height: 52px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px;
  background: var(--input-bg);
  border: 1px solid var(--input-stroke);
  font-size: 14px;
  box-shadow: none !important;
}
body .top_filter .filter .filter_btn {
  height: 52px;
  min-width: 52px;
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .map_section_view {
  width: 100%;
  height: 100vh;
  position: relative;
}
body .map_section_view .control-btn {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
body .map_section_view .control-btn:hover {
  background-color: #f0f0f0;
}
body .map_section_view .map {
  height: 100%;
}
body .map_section_view .map .unit_card {
  width: 300px;
}
body .map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .gm-style-iw-chr {
  padding: 0 !important;
}
body .gm-style-iw-chr .gm-style-iw-ch {
  padding: 0 !important;
  display: none !important;
}
body .gm-style-iw-chr button {
  width: 28px !important;
  height: 28px !important;
  opacity: 1 !important;
  position: absolute !important;
  border-radius: 50% !important;
  top: 12px !important;
  right: 12px !important;
  z-index: 999 !important;
  background: #fff !important;
}
body .gm-style-iw-chr button span {
  width: 18px !important;
  height: 18px !important;
  margin: 5px !important;
}
body .gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 16px !important;
}
body .gm-style-iw-d {
  overflow: hidden !important;
}
body .custom-marker {
  cursor: pointer;
  text-align: center;
}
body .marker-price {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  padding: 8px;
  font-size: 12px;
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.204);
}
body .property_details {
  padding: 40px 0;
}
body .property_details .details_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .property_details .details_header h1 {
  color: var(--main);
  font-size: 22px;
  margin: 0;
}
body .property_details .details_header .actions {
  display: flex;
  align-items: center;
}
body .property_details .details_header .actions button {
  color: var(--main);
  padding: 8px 16px;
  border-radius: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 0;
}
body .property_details .details_header .actions button img {
  height: 16px;
}
body .property_details .details_header .actions button:hover {
  background-color: var(--close-hover);
}
body .property_details .details_header .actions .dropdown-menu {
  margin: 0 !important;
}
body .property_details .gallery {
  display: grid;
  grid-gap: 8px;
  overflow: hidden;
  border-radius: 16px;
  grid-template-columns: 1fr 1fr;
}
body .property_details .gallery .main_img,
body .property_details .gallery .img {
  position: relative;
}
body .property_details .gallery .main_img::before,
body .property_details .gallery .img::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  pointer-events: none;
}
body .property_details .gallery .main_img:hover::before,
body .property_details .gallery .img:hover::before {
  opacity: 1;
}
body .property_details .gallery .view_all_img {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.6745098039);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
body .property_details .gallery .view_all_img img {
  height: 18px;
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .property_details .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .property_details .gallery .thumbnails_grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
}
body .property_details .about_place {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding-inline-end: 42px;
}
body .property_details .about_place .host_card {
  border: 1px solid var(--input-stroke);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  gap: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
body .property_details .about_place .host_card .avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}
body .property_details .about_place .host_card .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .property_details .about_place .host_card .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .property_details .about_place .host_card .info .title {
  gap: 48px;
  display: flex;
  align-items: center;
}
body .property_details .about_place .host_card .info .title h6 {
  color: var(--main);
  margin: 0;
  font-size: 18px;
}
body .property_details .about_place .host_card .info .title p {
  color: var(--gray);
  font-size: 14px;
}
body .property_details .about_place .host_card .info .title span {
  display: flex;
  gap: 4px;
  font-size: 14px;
  align-items: center;
  color: var(--main);
}
body .property_details .about_place h3 {
  color: var(--main);
  font-size: 20px;
  margin-bottom: 0;
}
body .property_details .about_place p {
  font-size: 16px;
  color: var(--gray);
  margin: 0;
}
body .property_details .about_place .line {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  display: block;
  background-color: var(--input-stroke);
}
body .property_details .about_place .features ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}
body .property_details .about_place .features ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: var(--main);
  background: var(--close-hover);
}
body .property_details .about_place .innersection h3 {
  margin-bottom: 8px;
  font-size: 20px;
}
body .property_details .about_place .innersection p {
  margin-bottom: 16px;
  font-size: 14px;
}
body .property_details .about_place .innersection .calender_wrapper {
  width: 100%;
}
body .property_details .about_place .innersection .calender_wrapper .rmdp-calendar {
  border-radius: 12px;
  padding: 24px 32px;
  border: 1px solid var(--input-stroke);
}
body .property_details .about_place .innersection .policies {
  margin-top: 24px;
}
body .property_details .about_place .innersection .policies h6 {
  color: var(--main);
  margin-bottom: 16px;
}
body .property_details .about_place .innersection .policies strong {
  color: var(--main);
}
body .property_details .about_place .innersection .policies ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: var(--gray);
}
body .property_details .reservation_holder {
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  position: sticky;
  top: 100px;
  border: 1px solid var(--input-stroke);
}
body .property_details .reservation_holder .box {
  padding: 16px 0;
  border-bottom: 1px solid var(--input-stroke);
}
body .property_details .reservation_holder .box:last-child {
  border-bottom: none;
}
body .property_details .reservation_holder .box:first-child {
  padding-top: 0;
}
body .property_details .reservation_holder .box h5 {
  color: var(--main);
  font-size: 18px;
}
body .property_details .reservation_holder .box h6 {
  color: var(--gray);
  font-size: 14px;
  margin: 0;
}
body .property_details .reservation_holder .box .arrival_departure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .property_details .reservation_holder .box .arrival_departure h5 {
  font-size: 16px;
}
body .property_details .reservation_holder .box .recipt ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .property_details .reservation_holder .box .recipt ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .property_details .reservation_holder .box .recipt ul li div {
  color: var(--main);
  font-size: 14px;
}
body .property_details .reservation_holder .box .recipt ul li h6 {
  color: var(--main);
  font-size: 16px;
}
body .property_details .reservation_holder .box .recipt ul li span {
  color: var(--main);
  font-weight: 600;
  font-size: 16px;
}
body .property_details .reservation_holder .box .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .property_details .reservation_holder .box .total div {
  color: var(--main);
  font-size: 14px;
}
body .property_details .reservation_holder .box .total h6 {
  color: var(--main);
  font-size: 18px;
}
body .property_details .reservation_holder .box .total span {
  color: var(--second);
  font-weight: 600;
  font-size: 16px;
}
body .property_details .reservation_holder .box .check_in_out {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  margin-bottom: 12px;
  display: flex;
  cursor: pointer;
}
body .property_details .reservation_holder .box .check_in_out .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 12px;
  border-right: 1px solid var(--input-stroke);
  flex-direction: column;
}
body .property_details .reservation_holder .box .check_in_out .button:last-child {
  border-right: none;
}
body .property_details .reservation_holder .box .check_in_out .button h5 {
  color: var(--main);
  font-size: 14px;
}
body .property_details .reservation_holder .box .check_in_out .button h6 {
  color: var(--gray);
  font-size: 14px;
}
body .property_details .reservation_holder .box .check_in_out h6 {
  color: var(--main);
  font-size: 16px;
}
body .property_details .reservation_holder .box .check_in_out span {
  color: var(--second);
  font-weight: 600;
  font-size: 16px;
}
body .property_details .map_section {
  width: 100%;
}
body .property_details .map_section h3 {
  color: var(--main);
  font-size: 20px;
}
body .property_details .map_section p {
  font-size: 14px;
  color: var(--gray);
}
body .property_details .map_section .map {
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}
body.en {
  direction: ltr;
  font-family: "Outfit", sans-serif;
}
body.en .form_field input,
body.en .form_field select,
body.en .form_field textarea {
  direction: ltr;
}
body.en .auth_modal .modal_close_btn {
  left: initial;
  right: 16px;
}/*# sourceMappingURL=main.css.map */